.grid-container {
    display: grid;
}

.grid-item-on {
    background-color: blue;
    height:40px;
    width:40px;
    grid-row: 1;
}

.grid-item-off, .grid-item {
    background-color: red;
    height:40px;
    width:40px;
    grid-row: 1;

}